.wraper{
    width: 100%;
    font-family: Montserrat, sans-serif;
    overflow: hidden;
}
.switch{
    display: block;
    position: relative;
    width:60px;
    height:34px;
}
.switch-wrapp{
    width: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.name-theme{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding-right: 20px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #18CFAB;
    transition: 0.1s;
}
.slider::before{
    position: absolute;
    content: "";
    left:4px;
    bottom: 4px;
    height: 26px;
    width:26px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: 0.1s;
}
input:checked+.slider{
    background-color: #696969;
}
input:focus+.slider{
    box-shadow: 0 0 1px #696969;

}
input:checked+.slider::before{
    transform: translateX(26px);
}

.header{
    background: url("../image/header-background.png")no-repeat center/cover;
    background-attachment: fixed;
    height:1012px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 120px;
    background-color:rgba(94, 93, 88, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar__main-logo{
    display: flex;
    align-items: center;
    position: relative;
}
.navbar__main-logo__element{
    color:#FFFFFF;
    position: absolute;
    font-weight: 700;
    line-height: 31px;
    font-size: 40px;
    left:13px;
    text-decoration: none;

}
.navbar__main-logo__text-content{
    padding-left: 6px;
    font-size: 32px;
    line-height: 48px;
    color:#FFFFFF;
    text-decoration: none;
}   
.name-logo span{
    color:#18CFAB;
    font-weight: 700;
}

.navbar__list{
    width: 614.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger__menu{
    display: none;
}
.navbar__list li:last-child{
    cursor: pointer;
}
.navbar__list__link{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 48.74px;
}

.navbar__list__link:hover{
    color:#18CFAB;
    border-bottom: 2px solid #18CFAB;
}
.header__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 264px;
    font-weight: 700;

}
.header__description__text{
    font-size: 35px;
    color:#FFFFFF;
    text-transform: uppercase;
}
.header__description__text-color{
    color:#18CFAB;
}
.header__description__title{
    padding-top: 22px;
    font-size: 78px;
    color:#FFFFFF;
    text-transform: uppercase;
}
.header__description__slogan{
    padding-top: 22px;
    color:#D4D4D4;
    font-size: 34px;
    font-weight: 400;
}
.header__description__btn{
    box-sizing:border-box;
    padding-top:129px;
    width: 364px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-action__link{
    text-decoration: none;
    color:#FFFFFF;
    font-weight: 700;
    font-size:15px;
    line-height: 31.86px;
    padding: 15px ;
    border-radius:5px;
    position: relative;
    top:16px;
}
.btn-action{
    background-color: #FFFFFF;
    position: relative;
    border-radius:5px;
}
.green{
    background-color:#18CFAB;
}
.blue{
    background: #00CBF6;
}

.main__topic-blocks{
    box-sizing: border-box;
    margin: 10px 0;
    height: 320px;
    display: flex;
    align-items: center; 
    cursor: pointer;
}
.main__topic-blocks__wrapper__img{
    display: block; 
    padding-top: 95px;
}
.main__topic-blocks__wrapper{
    height: 100%;
    flex-basis:25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.main__topic-blocks div:nth-child(even) {
    background: #18CFAB;
    color:#FFFFFF;
}
.main__topic-blocks div:nth-child(odd){
    background: #1C2A33;
    color:#18CFAB;

}
.main__topic-blocks__wrapper__description{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    padding:50px 0 100px ;
}

/*section service JS*/
.main__our-services{
    width: 1160px;
    margin: 0 auto;
}
.title-style{
    padding: 83px 0 26px;
    color:#4E4E4E;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}
.title-style::after{
    content: " ";
    display: block;
    width: 75px;
    height: 1px;
    left:10px;
    top:25px;
    margin: 1px auto;
    background: #18CFAB;
    position: relative;


}
.title-style:before{
    content: " ";
    display: block;
    width: 75px;
    top:65px;
    height: 0.5px;
    margin: 1px auto;
    background: #18CFAB;
    position: relative;
}
.main__our-services__container{
    padding: 69px 0 23px;
}
.main__our-services__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8FCFE;
    color:#717171;
}
.main__our-services__list__link{
   
    border: 1px solid #EDEFEF;
    border-right: 1px solid #F8FCFE;
    width: 100%;
    text-align: center;
    padding:10px 20px;
    text-decoration: none;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.main__our-services__list:last-child{
    border-right: 1px solid#EDEFEF;
}

.main__our-services__list__link:hover{
    border: 1.5px solid #18CFAB;
}
.main__our-services__information__description{
    height:150px;
    display: none;
    padding-bottom: 81px;
}
/*js*/
.click-on-btn{
    display:flex;
}
.click-on-btn--color{
    background-color:#18CFAB;
    color:#FFFFFF;
    position: relative;
}
.click-on-btn--color::before{
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #18CFAB ;
    z-index: 100;
    top:60px;
    left:80px;
    content: "";
}
/*end js*/
.main__our-services__information__description__text{
    font-size: 13.64px;
    line-height: 24.37px;
    font-weight: 300;
    padding-left: 15px;
    color:#777777;
}
.main__just-buy{
    height: 476px;
    background: url("../image/blockAction.png")no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__just-buy__title{
    padding-top: 126.78px;
    font-weight: 700;
    font-size: 40px;
    color:#18CFAB;
    text-transform: uppercase;
}
.main__just-buy__descriptions{
    padding:12.27px 0 67px;
    color: #D8D8D8;
    line-height: 40px;
    font-size: 16px;
}
.main__our-work{
    background-color:#E9EDEF;
    padding-bottom: 99px;
}
.main__our-work__btn{
    padding-top: 69px;
}
.main__our-work__btn__list{
    display: flex;
    justify-content:center;
    align-items: center;

}
.main__our-work__btn__list__link:last-child{
    border-right: 1px solid #DADADA;
}
.main__our-work__btn__list__link{
    color:#717171;
    padding: 12px 27px;
    border: 1px solid #DADADA;
    border-right: 1px solid #FFFFFF;
    cursor: pointer;
}
.main__our-work__btn__list__link:hover{
    border: 1px solid #18CFAB;
}
.main__our-work__btn__list__link:hover {
    color:#ffffff;
}
.main__our-work__posters-block{
    padding:71px 0;
    margin: 0 auto;
    width: 1160px;
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(4, 282px) ;
    grid-template-rows:repeat(3, 206px) ;
}
/* js photo-of work*/
.hidden-photo{
    display:none;
}
.active-photo{
    display:flex;   
}
.btn-photo-color{
    background-color: #18CFAB;
    position: relative; 
}
/*hover element*/
.hover-element{
    position: relative;
}
.hover-element:hover .create-design {
    visibility:visible;
    transform: translateY(-100px); 
}


.create-design{
    position: absolute;
    box-sizing: border-box;
    width: 285px;
    height:206px;
    top: 100px;
    position: absolute;
    background: #E9EDEF;
    border-top:6px solid #18CFAB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    visibility: hidden;
    cursor: pointer;
    transition:transform 1s ease-in-out 1ms;
}
.create-design__container__svg{
    height:17px;
    width: 17px;
    padding: 12px 11px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
}
.create-design__container{
    padding-top:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-design__container__square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #18CFAB;
    background: #18CFAB;
    border-radius: 50%;
    height: 43px;
    width: 43px;
}
.create-design__container__svg{
    fill: #FFFFFF;
    background: #18CFAB;
}
.create-design__container__svg:hover path{
    fill: #18CFAB;
}

.create-design__container__square:hover,.create-design__container__svg:hover{
    background: #E9EDEF;
    border: 1px solid #18CFAB;
}
.create-design__container__square span{
    height: 12px;
    width: 11px;
    background-color: #FFFFFF;
    background: #E9EDEF;
}
.create-design__title{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    color:#18CFAB;
}
.create-design__description{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
    color:#8A8A8A;
    padding-bottom:34px;
}
/*end of hover elment*/
.load-more__btn{
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
    background:#18CFAB ;
    width: 168px;
    padding:10px 0 ;
    border-radius: 5px;
    box-sizing: border-box;
}
.load-more__btn__link{
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
    font-size: 14px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
}
.load-more__btn__link::before{
    content:url("../image/icon/Plus.png");
    padding: 20px 15px;
}

.main__breaking-news{
    width: 1160px;
    margin: 0 auto;
}
.main__breaking-news__container{
    padding:69px 0 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main__breaking-news__container__post{
    width: 263px;
    position: relative;
    padding-bottom: 43px;
}
.main__breaking-news__container__post:hover .main__breaking-news__container__post__description__data{
    background: #18CFAB;
}
.main__breaking-news__container__post:hover .main__breaking-news__container__post__description__title{
color:#18CFAB
}

.main__breaking-news__container__post__description__title{
    color:#717171;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.main__breaking-news__container__post__description__comments{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 210px;
}
.main__breaking-news__container__post__description__comments span{
    font-weight:300;
    color:#777777;
    font-size: 14px;
    line-height:30px;
}
.main__breaking-news__container__post__description__data{
    position: absolute;
    top:0;
    right: 0;
    z-index: 25;
    background: #203E38;
    color:#FFFFFF;
}
.main__breaking-news__container__post__description__data{
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    padding:6px 16px;
}
.main__say-about-us{
    background: url('../image/About-us.png')no-repeat center/cover;
    height: 853px;
    text-align: center;
}
.main__say-about-us__title{
    padding: 98px 0 25px;
    color:#FFFFFF;
    font-size: 36px;
    line-height: 40px;
}
.main__say-about-us__img{
    padding-top: 66px;
}
.main__say-about-us__description{
    margin: 0 auto;
    padding-top: 36px;
    font-size: 16px;
    line-height: 30px; 
    color:#BBBBBB;
    width:1160px;
}
.main__say-about-us__info-workers{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}
.main__say-about-us__info-workers__title{
    font-size: 16px;
    font-weight: 700;
    color:#18CFAB;
    padding-top: 38px;
    line-height: 27px;
}
.main__say-about-us__info-workers__description{
    font-size: 13px;
    font-weight: 300;
    color:#BBBBBB;
    padding-bottom: 38px;
    line-height: 27px;
}

.main__say-about-us__info-workers__photo-icons{
    border: 11px solid rgba(31,218,181,0.2);
    border-radius:50%;
}
.main__say-about-us__slider-links__links-employees{
    padding-top: 51px;
    display: flex;
}
.main__say-about-us__slider-links__links-employees__link{
    padding-right: 38px;
    position: relative;
}
.main__say-about-us__slider-links__links-employees__link:nth-child(1){
    padding-left: 38px;
}
.main__say-about-us__slider-links__links-employees__link__icon{
    border: 5px solid rgba(31,218,181,0.2);
    border-radius:50%;
}
.main__say-about-us__slider-links{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}
.main__say-about-us__slider-links__left-arrow,.main__say-about-us__slider-links__right-arrow{
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#BBBBBB;
    cursor: pointer;
}
.main__say-about-us__slider-links__left-arrow:hover,.main__say-about-us__slider-links__right-arrow:hover{
    color:#FFFFFF;
    background: #18CFAB;
    border: 1px solid #18CFAB;
}
/*JS*/
.hasan{
    position: relative;
}
.rebeca,.ben,.heron{
    position: absolute;
}
.block{
    bottom:15px;
}
.block-workers{
   visibility: visible;
}
/*end js*/

.main__best-image_gallery-images{
    padding:83px 0 52px;
    margin:0 auto ;
    width:1160px;
    display:grid;
    gap:20px;
    grid-template-columns:378px 378px 363px;
    grid-template-rows:263px 95px 50px 79px 78px 118px 79px 26px;
}
.main__best-image_gallery-images__terrace{
    grid-row: 1/2;
    grid-column: 1/ 2;
}
.main__best-image_gallery-images__terraces{
    grid-row: 6/8;
    grid-column: 2/ 3;
}
.main__best-image_gallery-images__dubai{
    grid-row: 1/3;
    grid-column: 2/ 3;
}
.main__best-image_gallery-images__kitchen{
    grid-row: 2/4;
    grid-column: 1/ 2;
}
.main__best-image_gallery-images__room{
    grid-column: 2/ 3;
    grid-row: 3/6;
}
.main__best-image_gallery-images__house{
    grid-column: 1/ 2;
    grid-row: 5/8;
}
.main__best-image_gallery-images__bridge{
    grid-column: 3/ 4;
    grid-row: 4/8;
}
.main__best-image_gallery-images__top-kalash{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__best-image_gallery-images__bottom-kalash{
    width:365px ;
    display: flex;
    flex-wrap: wrap;
}
.main__best-image_gallery-images__bottom-kalash__icon{
    padding: 1px;
}
.footer{
    padding-top:80px ;
}
.footer__decription{
    height:121px;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color:#AEAEAE;
}
.footer__decription__decorate{
    color:#18CFAB;
}
.btn[data-theme = "dark"]{
    display: none;
}
.btn[data-theme = "light"]{
    display: block;
}
.menu__btn{
    display: none;
}
.navbar__points__menu-burger{
    display: none;
}

/* media */

@media (max-width:1200px) and (min-width:1001px){
    .title-style {
        padding: 60px 0 30px;
    }
    .header{
        height: 900px;
    }
    .navbar__main-logo__element{
        font-size: 30px;
        left:16px;
    }
    .navbar__main-logo__text-content{
        font-size: 25px;
    }
    .navbar__list{
        width: 500px;
    }
    .navbar__list__link{
        font-size: 14px;
    }
    .main__our-services{
        max-width: 970px;
    }
    .main__our-services__list__link{
        padding: 10px 5px;
    }
    .main__just-buy__title{
        font-size: 30px;
    }
    .main__our-work__posters-block{
        width:990px;
        grid-template-columns: repeat(4, 245px);
    }
    .create-design__img{
        width: 245px;
    }
    .create-design{
        width: 245px;
    }
    .main__breaking-news{
        width:1000px;
    }
    .main__breaking-news__container{
        padding: 40px 0 40px;
        justify-content: center;
        gap:20px
    }
    .main__say-about-us__description {
        width:950px;
    }
    .main__best-image{
        padding-bottom: 20px;
    }
    .main__best-image_gallery-images{
        width:950px;
        padding: 50px 0 0;
        grid-template-columns:310px 311px 300px;
        grid-template-rows:219px 92px 126px 0px 79px 118px 79px 26px;
        gap:0;
    }
    .main__best-image__element{
        width: 300px;
    }
    .main__best-image__element-duo{
        width: 170px;
       
    }
    .main__best-image_gallery-images__bottom-kalash{
        width: 400px;
        margin: 0;
    
    }
    .main__best-image_gallery-images__bottom-kalash__icon{
        width: 112px;
    }
    .grid1000{
        width: 340px;
    }
    .footer{
        padding-top: 50px;
    }
}
@media (max-width:1000px) and (min-width:767px){
    .title-style {
        padding: 50px 0 25px;
    }
    .header{
        height: 800px;
    }
    .navbar__main-logo__element{
        font-size: 25px;
        left:18px;
    }
    .navbar{
        justify-content: space-between;
    }
    .navbar__main-logo__text-content{
        font-size: 25px;
    }
    .navbar__list{
        width: 450px;
    }
    .navbar__list__link{
        font-size: 12px;
    }
    .name-theme{
        font-size: 12px;
    }
    .header__description__title{
        font-size: 60px;
    }
    .header__description__text{
        font-size: 30px;
    }
    .header__description__slogan{
        font-size: 30px;
    }
    .main__topic-blocks{
        height: 250px;
    }
    .main__topic-blocks__wrapper__description{
        padding: 12px 0 70px;
        font-size: 12px;
    }
    .main__our-services{
        max-width: 750px;
    }
    .main__our-services__list__link{
        padding: 5px 1px;
        font-size: 12px;
    }
    .click-on-btn--color::before{
        top:50px
    }
    .main__our-services__information__description {
        height:250px ;
        
    }
    .main__our-services__information__description__text{
        font-size: 12px;
    }
    .main__just-buy{
        height: 370px;
    }
    .main__just-buy__title{
        font-size: 25px;
    }
    .main__just-buy__descriptions{
        font-size: 14px;
    }
    .main__our-work__posters-block{
        width:750px;
        grid-template-columns: repeat(3, 240px);
    }
    .create-design__img{
        width: 240px;
    }
    .create-design{
        width: 240px;
    }
    .main__our-work__btn__list__link {
        padding: 10px 25px;
    }
    .main__breaking-news{
        width:750px;
    }
    .main__breaking-news__container{
        padding: 40px 0 40px;
        justify-content: center;
        gap:20px
    }
    .main__say-about-us__description {
        width:750px;
        font-size: 14px;
    }
    .main__best-image_gallery-images{
        width:750px;
        padding: 50px 0 0;
        grid-template-columns:232px 232px 246px;
        grid-template-rows:154px 67px 31px 22px 58px 118px 79px 26px;
    
    }
    .main__best-image__element{
        width: 246px;
    }
    .main__best-image__element-duo{
        width: 119px;
       
    }
    .main__best-image_gallery-images__bottom-kalash{
        width: 246px;
        margin: 0;
    
    }
    .main__best-image_gallery-images__bottom-kalash__icon{
        width: 80px;
    }
    .footer{
        padding-top: 0;
    }
}
@media (max-width:766px) and (min-width:500px){
    .navbar__list{
        display: none;
    }
    .navbar__points__menu-burger{
        display: block;
    }
    #menu__toggle {
        opacity: 0;
      }
    .menu__btn__lable {
        display: flex; 
        align-items: center;  
        position: fixed;
        top: 45px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn__lable > span,
      .menu__btn__lable> span::before,
      .menu__btn__lable > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #18CFAB;
      }
      .menu__btn__lable > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn__lable > span::after {
        content: '';
        top: 8px;
      }
      .burger__menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top:120px;
        width: 100%;
        height:310px;
        margin: 0;
        list-style: none;
        text-align: center;
        background-color:rgba(109, 108, 108,1);
      }
      .burger__menu__link{
        display: block;
        padding: 12px 24px;
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .burger__menu__link:hover {
        background-color: rgba(80, 77, 77, 0.9);
      }
      #menu__toggle:checked ~ .menu__btn__lable  > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn__lable  > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn__lable  > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .burger__menu {
        visibility: visible;
        left: 0;
      }
      .title-style{
        padding: 20px 0 20px;
      }
      .header{
        height: 700px;
      }
      .header__description{
        padding-top: 200px;
      }
      .header__description__text{
        font-size: 25px;
      }
      .header__description__title{
        font-size: 50px;
      }
      .header__description__slogan{
        font-size: 20px;
      }
      .main__topic-blocks{
        flex-wrap: wrap;
        justify-content: center;
        height: 400px;
        gap:5px
      }
      .main__topic-blocks__wrapper{
        flex-basis: 49%;
        height: 200px;
      }
      .main__topic-blocks__wrapper__description{
        padding: 20px 0 50px;
      }
      .main__our-services{
        width: 500px;
      }
      .main__our-services__container{
        padding: 30px 0 ;
      }
      .main__our-services__list__link{
        padding: 5px 10px;
        line-height: 25px;
        font-size: 14px;
      }
      .click-on-btn--color::before{
        left:10px;
        top:55px
      }
      .main__our-services__information__description{
       max-height: 500px;
       height: 100%;
       flex-direction: column;
       padding-bottom: 65px;
      }
    .main__our-services__information__description__img{
        height:250px;
    }
    .main__our-services__information__description__text{
        font-size: 13px;
    }
    .main__our-work{
        padding-bottom: 50px;
    }
    .main__just-buy{
        height: 370px;
    }
    .main__just-buy__title {
        padding-top: 120px;
        font-size: 17px;
    }
    .main__just-buy__descriptions{
        font-size: 14px;
        padding: 13px 10px 50px;
        text-align: center;
    }
    .main__our-work__btn{
        padding-top: 40px;
    }
    .main__our-work__btn__list{
        flex-direction: column;
    }
    .main__our-work__btn__list__link{
        padding: 5px 10px;
        width: 100%;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #DADADA;
    }
    .main__our-work__posters-block{
        width: 500px;
        grid-template-columns: repeat(2, 245px);
        
    }
    .create-design{
        width: 245px;
    }
    .create-design__img{
        width: 245px;
    }
    .main__breaking-news{
        width: 500px;
    }
    .main__breaking-news__container{
        padding: 40px 0 20px;
    }
    .main__breaking-news__container__post{
        width: 240px;
    }
    .main__say-about-us{
        height: 780px;
    }
    .main__say-about-us__title{
        font-size: 32px;
        line-height: 35px;
        padding: 40px 0 10px;
    }
    .main__say-about-us__description {
        font-size: 14px;
        width: 500px;
    }
    .main__say-about-us__slider-links__links-employees__link{
        padding-right: 25px;
    }
    .main__say-about-us__slider-links__links-employees__link__icon{
        width:50px;
    }
    .main__best-image_gallery-images{
        width: 500px;
        gap:10px;
        grid-template-columns: 245px 245px;
        grid-template-rows: 174px 69px 10px 75px 10px 20px 10px 79px 34px 90px;
    }
    .main__best-image__element{
        width:250px;
    }
    .main__best-image_gallery-images__terrace{
        grid-column: 1/ 2;
        grid-row: 1/2;
    }
    .main__best-image_gallery-images__terraces{
        grid-column: 1/ 2;
        grid-row: 10/11;
    }
    .main__best-image_gallery-images__dubai{
        grid-column: 2/ 3;
        
    }
    .main__best-image_gallery-images__kitchen{
        grid-column: 1/ 2;
        grid-row: 2/4;
        
    }
    .main__best-image_gallery-images__room{
        grid-column: 2/ 3;
   
    }
    .main__best-image_gallery-images__house{
        grid-column: 1/ 2;
        grid-row:5/7; 
    }
    .main__best-image_gallery-images__bridge{
        grid-column: 2/ 3;
        grid-row:8/10; 
    }
    .main__best-image_gallery-images__kalash{
        display: none;
    }
 }
 @media (max-width:499px) and (min-width:300px){
    .header{
        min-width: 300px;
        width: 100%;
        height: 800px;
    }
    .navbar__list{
        display: none;
    }
    .navbar__points__menu-burger{
        display: block;
    }
    #menu__toggle {
        opacity: 0;
      }
    .menu__btn__lable {
        display: flex; 
        align-items: center;  
        position: fixed;
        top: 45px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn__lable > span,
      .menu__btn__lable> span::before,
      .menu__btn__lable > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #18CFAB;
      }
      .menu__btn__lable > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn__lable > span::after {
        content: '';
        top: 8px;
      }
      .burger__menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top:120px;
        width: 100%;
        height:310px;
        margin: 0;
        list-style: none;
        text-align: center;
        background-color:rgba(109, 108, 108,1);
      }
      .burger__menu__link{
        display: block;
        padding: 12px 24px;
        color: #FFF;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .burger__menu__link:hover {
        background-color: rgba(80, 77, 77, 0.9);
      }
      #menu__toggle:checked ~ .menu__btn__lable  > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn__lable  > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn__lable  > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .burger__menu {
        visibility: visible;
        left: 0;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .header__description{
        padding-top: 200px;
        text-align: center;
    }
    .header__description__text{
        font-size: 30px;
    }
    .header__description__title{
        font-size: 50px;
    }
    .header__description__slogan{
        font-size: 18px;
    }
    .header__description__btn{
        width:300px;
        flex-direction: column;
        padding-top: 30px;
    }
    .btn-action{
        margin-bottom:60px ;
    }
    .green{
        padding: 20px;
        top:20px
    }
    .blue{
        padding: 15px; 
    }
    .main__topic-blocks{
        flex-wrap: wrap;
        height: 300px;
    }
    .main__topic-blocks__wrapper{
        flex-basis: 50%;
        height: 65%;
        margin-bottom: 10px;
    }
    .main__topic-blocks__wrapper__description{
        padding:20px 0 30px;
        font-size: 14px;
        text-align: center;
    }
    .main__our-services{
        padding-top: 30px;
        min-width: 300px;
        width: 100%;
    }
    .main__our-services__list{
        flex-direction: column;
    }
    .main__our-services__information{

    }
    .main__our-services__information__description{
        min-height: 500px;
        height: 100%;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .main__our-services__information__description__text{
        font-size: 12px;
    }
    .main__just-buy{
        text-align: center;
    }
    .main__just-buy__title{
        font-size: 22px;
    }
    .main__our-work{
        padding-bottom: 50px;
    }
    .main__our-work__btn__list{
        flex-direction: column;
    }
    .main__our-work__btn__list__link{
        width: 100%;
        text-align: center;
    }
    .main__our-work__posters-block{
        padding: 30px 0;
        min-width: 300px;
        gap:5px;
        width: 100%;
        grid-template-columns: 280px;
    }
    .title-style{
        font-size: 30px;
        line-height: 35px;
    }
    .main__breaking-news{
        min-width: 300px;
        width: 100%;
    }
    .main__breaking-news__container{
        padding: 40px 0 55px;
        flex-direction: column;
    }
    .main__say-about-us{
        height: 900px;
    }
    .main__say-about-us__title{
        padding: 45px 0 20px;
        font-size: 30px;
    }
    .main__say-about-us__img{
        padding-top: 20px;
    }
    .main__say-about-us__description{
        min-width: 300px;
        width: 100%;
        font-size: 13px;
        line-height: 25px;
        margin: 0;
    }
    .main__say-about-us__slider-links{
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    
    .main__say-about-us__slider-links__links-employees{
        padding:30px 0;
    }
    .main__say-about-us__slider-links__links-employees__link{
        padding-right: 25px;
    }
    .main__say-about-us__slider-links__links-employees__link__icon{
        width:40px
    }
    .main__say-about-us__slider-links__left-arrow,.main__say-about-us__slider-links__right-arrow{
        width: 50px;
    }
    .main__best-image_gallery-images{
        min-width: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:0;
        align-items: center;
        padding:50px 0 0;
    }
    .main__best-image__element{
        width: 300px;
    }
    .main__best-image_gallery-images__top-kalash{
        width: 300px;
    }
    .main__best-image__element-duo{
        width: 150px;
    }
    .main__best-image_gallery-images__bottom-kalash{
        width:300px;
    }
    .main__best-image_gallery-images__bottom-kalash__icon{
        width: 98px;
    }
    .footer{
        padding-top: 50px;
    }
    .footer__decription{
        line-height: 20px;
        font-size: 12px;
        height: 80px;
    }
 }
 @media (max-width:499px) and (min-width:430px){
    .navbar{
        align-items: center;
    }
    .main__our-work__posters-block{
        min-width:430px;
        width: 100%;
        grid-template-columns: 215px 215px;
        grid-template-rows: repeat(3, 188px);
    }
    .create-design{
        width:215px;
    }
    .create-design__img{
        width: 215px;
    }
    .main__breaking-news{
        min-width:430px;
        width: 100%;
    }
    .main__breaking-news__container{
        flex-direction: row;
    }
    .main__breaking-news__container__post{
        width:190px;
    }
    .main__breaking-news__container__post__img{
        width: 190px;
    }
    .main__say-about-us{
        height: 750px;
    }
    .main__say-about-us__slider-links{
        flex-direction: row;
    }
    .main__say-about-us__slider-links__left-arrow, .main__say-about-us__slider-links__right-arrow{
        width: 25px;
    }
    .main__say-about-us__slider-links__links-employees__link__icon{
        width: 50px;
    }
 }